#!/bin/bash
# {{ ansible_managed }}

set -euf

while ! ping -c 3 {{ ingest.host }}; do
    echo "Waiting for for ping -c 3 {{ ingest.host }}..."
done

{% if mixer == 'voctomix' %}

    exec voctomix-ingest \
        --host {{ ingest.host }} \
        --port {{ ingest.port }} \
        --video-source {{ video_source }} \
        --video-attribs device=/dev/video0 \
    {% if video_delay is defined %}
        --video-delay {{ video_delay }} \
    {% endif %}
    {% if alsa_device is defined %}
        --audio-source alsa \
        --audio-attribs device={{ alsa_device }} \
    {% if audio_delay is defined %}
        --audio-delay {{ audio_delay }} \
    {% endif %}
    {% endif %}
    {% if monitor is defined %}
        --monitor {{ monitor }} \
    {% endif %}

{% elif mixer == 'nageru' %}

    exec gst-launch-1.0 v4l2src device=/dev/hdmi2usb/by-num/all0/video ! \
    {% if video_source == "uvc-raw" %}
        video/x-raw,width=1280,height=720 ! \
    {% elif video_source == "uvc-mjpeg" %}
        video/mjpeg,width=1280,height=720 ! \
        jpegdec ! \
    {% endif %}
        videoconvert ! \
        x264enc tune=zerolatency ! \
        mpegtsmux ! \
        srtclientsink streamid=Grabber uri=srt://{{ ingest.host }}:{{ ingest.port }}

{% endif %}
