device {
  type: CAPTURE_CARD
  index: 0
  display_name: "PCI card 0: DeckLink Mini Recorder"
}
device {
  type: CAPTURE_CARD
  index: 1
  display_name: "PCI card 1: DeckLink Mini Recorder"
}
device {
  type: CAPTURE_CARD
  index: 14
  display_name: "Video: {{ nageru.loopy_url }}"
}
bus {
  name: "Card 0"
  device_index: 0
  source_channel_left: 0
  source_channel_right: 1
}
bus {
  name: "Card 1"
  device_index: 1
  source_channel_left: 0
  source_channel_right: 1
}
bus {
  name: "Loopy"
  device_index: 2
  source_channel_left: 0
  source_channel_right: 1
}
