# {{ ansible_managed }}

[Unit]
Description=Voctomix Grabber source
StartLimitIntervalSec=0
Conflicts=xlogout.target

[Service]
ExecStart=/usr/bin/voctomix-ingest \
  --video-source ximage \
  --audio-attribs volume=0 \
  --host {{ grabber_host }} \
  --port {{ grabber_port }}
Restart=always
RestartSec=1s

[Install]
WantedBy=xlogin.target
