# {{ ansible_managed }}

[Unit]
Description=Voctomix loopy audio manager
After=videoteam-voctocore.service
Requires=videoteam-voctocore.service
StartLimitIntervalSec=0
Conflicts=xlogout.target

[Service]
ExecStart=/usr/local/bin/videoteam-loopy-audio {% if audiosource is defined %}
  --other-audio-source {{ audiosource }}
{% endif %}

Restart=always
RestartSec=1s
Nice=10

[Install]
WantedBy=xlogin.target
