# {{ ansible_managed }}
[server]
host={{ item.host|default('localhost') }}

[light]
cam={{ item.camera }}
plugin={{ item.plugin }}

{% if item.plugin == 'serial_dtr' %}
[serial_dtr]
port={{ item.port }}

{% elif item.plugin == 'tomu' %}
[tomu]
;; Value to send to usb_simple is a bitmask:
;;
;;   0: no light
;;   1: green light
;;   2: red light
;;   3: both lights
on=2
off=0

{% endif %}
