// {{ ansible_managed }}

Unattended-Upgrade::Origins-Pattern {
{% if enable_stable_upgrades %}
      "origin=Debian,codename=${distro_codename}-updates";
      "origin=Debian,codename=${distro_codename},label=Debian";
{% endif %}
{% if enable_security_upgrades %}
      "origin=Debian,codename=${distro_codename},label=Debian-Security";
      "origin=Debian,codename=${distro_codename}-security,label=Debian-Security";
{% endif %}
};

// Split the upgrade into the smallest possible chunks so that
// they can be interrupted with SIGTERM. This makes the upgrade
// a bit slower but it has the benefit that shutdown while a upgrade
// is running is possible (with a small delay)
Unattended-Upgrade::MinimalSteps "true";
