# {{ ansible_managed }}

proxy_cache_path {{ streaming.frontend.data_root }}/hls levels=1:2 keys_zone=hls-cache:8m max_size=1000m inactive=600m;

server {
  listen 443 ssl http2;
  listen [::]:443 ssl http2;
  server_name {{ streaming_frontend_hostname|default(ansible_fqdn) }} {{ streaming_frontend_aliases|join(" ") }};

  ssl_certificate /etc/ssl/ansible/certs/streaming_frontend.fullchain.pem;
  ssl_certificate_key /etc/ssl/ansible/private/streaming_frontend.key;

  add_header Strict-Transport-Security max-age=15768000;

  root {{ streaming.frontend.data_root }}/www;

  index index.html;

  location ~ ^/live/(?<room>.*)-(?<segment>.*).ts$ {
    proxy_pass https://{{ streaming.backend.server_name }}/live/$room-$segment.ts;
    proxy_cache hls-cache;
    proxy_cache_valid 200 5m;
    proxy_cache_valid 404 5s;

    add_header 'Access-Control-Allow-Origin' '*' always;
    add_header 'Access-Control-Allow-Methods' 'GET' always;
    add_header 'Access-Control-Allow-Headers' 'DNT,X-CustomHeader,Keep-Alive,User-Agent,X-Requested-With,If-Modified-Since,Cache-Control,Content-Type' always;
  }

  location ~ ^/live/(?<room>.*).m3u8$ {
    proxy_pass https://{{ streaming.backend.server_name }}/live/$room.m3u8;

    add_header 'Access-Control-Allow-Origin' '*' always;
    add_header 'Access-Control-Allow-Methods' 'GET' always;
    add_header 'Access-Control-Allow-Headers' 'DNT,X-CustomHeader,Keep-Alive,User-Agent,X-Requested-With,If-Modified-Since,Cache-Control,Content-Type' always;
  }

  location ~ ^/dash/(?<room>[^/]*)/(?<file>.*\.(webm|m4s))$ {
    proxy_pass https://{{ streaming.backend.server_name }}/dash/$room/$file;
    proxy_cache hls-cache;
    proxy_cache_valid 200 5m;
    proxy_cache_valid 404 5s;

    add_header 'Access-Control-Allow-Origin' '*' always;
    add_header 'Access-Control-Allow-Methods' 'GET' always;
    add_header 'Access-Control-Allow-Headers' 'DNT,X-CustomHeader,Keep-Alive,User-Agent,X-Requested-With,If-Modified-Since,Cache-Control,Content-Type' always;
  }

  location ~ ^/dash/(?<room>[^/]*)/stream.mpd$ {
    proxy_pass https://{{ streaming.backend.server_name }}/dash/$room/stream.mpd;

    add_header 'Access-Control-Allow-Origin' '*' always;
    add_header 'Access-Control-Allow-Methods' 'GET' always;
    add_header 'Access-Control-Allow-Headers' 'DNT,X-CustomHeader,Keep-Alive,User-Agent,X-Requested-With,If-Modified-Since,Cache-Control,Content-Type' always;
  }

  location ~ ^/redir/ {
    proxy_pass http://127.0.0.1:8080;
    proxy_set_header X-Forwarded-For $remote_addr;
  }

  location = /local-server {
    proxy_pass http://127.0.0.1:8080;
    proxy_set_header X-Forwarded-For $remote_addr;
  }
  access_log /var/log/nginx/streaming-frontend-access.log;
  error_log /var/log/nginx/streaming-frontend-error.log;
}
